/* Fading animation */
.fade {
    position: relative;
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        transform: rotateY(70deg);

    }
    to {
        transform:  rotateY(0deg);
    }

}
